<mat-sidenav-container style="background-color: white;"> <!-- container for sidenav and content-->
  <mat-sidenav class="sidecont" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" position="end">
      <p>Lifestyle</p>
      <p>Programming</p>
      <p>Photography</p>
      <p>Videography</p>
  </mat-sidenav><!--side content-->
  <mat-sidenav-content><!-- main content-->
      <section class="navigation">
          <div class="nav-container">
              <div class="logo">
                  <a style="font-size: 25px;" href="#">ZoDesigns</a>
              </div>
              <nav>
                  <ul class="nav-list">
                      <li>
                          <button type="button" mat-icon-button (click)="sidenav.toggle()">
                              <mat-icon><!--<i class="icono-hamburger">hamburger</i>--><i class="material-icons">menu</i></mat-icon>
                          </button>
                      </li>
                      <li><mat-icon><i class="material-icons">search</i></mat-icon><!--<i class="icono-search">search</i>--></li>
                  </ul>
              </nav>
          </div>
      </section>
  </mat-sidenav-content>
</mat-sidenav-container>
