img{
max-width: 100%;
}
/*cover*/

#cover{
background-color: white; // #222  url("/assets/imgs/sunflowers.jpg")  no-repeat;
background-size: cover;
color: black;
height: 100%;
display: flex;
}

.words{
    margin-top: 30px;
    margin-bottom: 70px;
}

#cover-caption{
width: 100%;
}

.section-content{
padding: 5rem 0;
}

#about{
background: url("/assets/imgs/michael-carnevale-435126.jpg") center center no-repeat;
background-size: cover;
}

.about-text{
background: rgba(0,0,0,0.8);
color: white;
padding: 1.875rem;
}

#footer-main{
background: #222;
color: white;
font-size: 0.8rem;
//padding: 2.5rem;
background-size: cover;
margin: 0;
}

/*.container
{
    margin: 0%;
    padding: 0%;
}*/
  

/*.cover {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
  }
  
  img { 
    width: 100%;
    height: auto;
  }*/
/*for the image*/
/*.image
{
    float: left;
    max-width: 100%;
    padding-right: 145px;
    padding-left: 50px;
    img
    {
        width: 400px;//581px;
        height: 600px;//871px;
    }
}
.text
{
    text-align: left;
    h1
    {
        font-size: 85px;
    }

    p
    {
        font-size: 40px;
    }
}*/

/*For the navbar*/
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #ffffff;
$nav-font-color: black;
$link-hover-color: #E8E8E8;

.navigation
{
    height: $nav-height;
    background: $nav-background;
}
.nav-container
{
    max-width: $content-width;
    margin: 0 auto;
}

.logo
{
    position: absolute;
    float: left;
    line-height: $nav-height;
    font-family: "Helvetica Neue";
    font-weight: 700;
    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

nav {
        float: right;
    ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Regular;
      li {  
            float: left;
            position: relative;
            display: block;
            padding: 0 5px;
            line-height: $nav-height;
            background: $nav-background;
            color: $nav-font-color;
        a {
            text-decoration: none;
            color: $nav-font-color;
          &:hover {
            background: $link-hover-color;
            color: $nav-font-color;
          }
        } 
      }
    }
  }

   /*for the sidenav*/
   .sidecont
   {
       a
       {
         margin-top: 90px;
         margin-right: 70px;
         margin-left: 70px;
         display: block;
         text-decoration: none;
         color: $nav-font-color;
         &:hover {
             color: rgb(132, 215, 230);
           }
       }
       mat-divider
       {
           margin: 40px;
       }
   }

  //Footer
  footer
  {
      float: right;
      margin: 20px;
      a
      {
        padding: 10px;
        text-decoration: none;
      }
  }