<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
        <a routerLink="/home" routerLinkActive="active" class="navbar-brand">ZoDesigns</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link text-right">Home </a>
                <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                <a routerLink="/work" routerLinkActive="active" class="nav-item nav-link">Work</a>
                <a routerLink="/blog" routerLinkActive="active" class="nav-item nav-link">Blog</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>