/*For the navbar*/
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #ffffff;
$nav-font-color: #000000;
$link-hover-color: #E8E8E8;

.navigation
{
    height: $nav-height;
    background: $nav-background;
}
.nav-container
{
    max-width: $content-width;
    margin: 0 auto;
}

.logo
{
    position: absolute;
    float: left;
    line-height: $nav-height;
    font-family: "Helvetica Neue";
    font-weight: 700;
    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

nav {
        float: right;
    ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Regular;
      li {  
            float: left;
            position: relative;
            display: block;
            padding: 0 5px;
            line-height: $nav-height;
            background: $nav-background;
            color: $nav-font-color;
        a {
            text-decoration: none;
            color: $nav-font-color;
          &:hover {
            background: $link-hover-color;
            color: $nav-font-color;
          }
        } 
      }
    }
  }

 /*for the sidenav*/
 .sidecont
 {
     a
     {
       margin-top: 90px;
       margin-right: 70px;
       margin-left: 70px;
       display: block;
       text-decoration: none;
       color: $nav-font-color;
       &:hover {
           color: rgb(132, 215, 230);
         }
     }
     mat-divider
     {
         margin: 40px;
     }
 }
 .images{
     margin: 10px;
 }
 
 
/*.images
{
    //margin: 10px;
    img
    {
        max-width: 30%;
        vertical-align: middle;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 25px;
    }
}*/
