/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

p{
    font-family: 'Segoe UI', Semilight;
}

h1{
    font-family: "Helvetica Neue";
    font-weight: 700;
}